// Variables
$twine: #cda26b;
$copper: #be6932;
$pine: #529b94;
$laurel: #a5b6a4;
$westar: #DFDED3;

body {
  background-color: $westar;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

// .container {
//   background-color: #000;
// }